/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
    background: #f8f6f5;
    padding: 10px 0;
    font-size: 14px;
}

#topbar .contact-info a {
    line-height: 1;
    color: #4d4643;
    transition: 0.3s;
}

#topbar .contact-info a:hover {
    color: #f03c02;
}

#topbar .contact-info i {
    color: #f03c02;
    padding: 4px;
}

#topbar .contact-info .icofont-phone {
    padding-left: 20px;
    margin-left: 20px;
    border-left: 1px solid #e9e9e9;
}

#topbar .social-links a {
    color: #836a61;
    padding: 4px 0 4px 20px;
    display: inline-block;
    line-height: 1px;
    transition: 0.3s;
}

#topbar .social-links a:hover {
    color: #f03c02;
}